/*------------------------------------------------
	Base Styles
-------------------------------------------------*/
body {
	font-family: var(--font-stack);
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	color: var(--text-color);
}

a {
	color: inherit;
}
a:hover,
a:focus {
    color: var(--text-color);
	text-decoration: none;
	outline: 0 none;
    transition: all 0.3s ease 0s;
}

h1, h2, h3,
h4, h5, h6 {
    color: var(--title-color);
    font-family: var(--open-sans);
    margin: 0;
    line-height: 1;
}

p {
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 0;
}

/*
 * Selection color
 */
::-moz-selection {
    background-color: var(--primary-color);
    color: var(--light);
}

::selection {
    background-color: var(--primary-color);
    color: var(--light);
}

/*
 *  Reset bootstrap's default style
 */
.form-control::-webkit-input-placeholder,
::-webkit-input-placeholder {
    opacity: 1;
    color: inherit;
}

.form-control:-moz-placeholder,
:-moz-placeholder { /* Firefox 18- */
    opacity: 1;
    color: inherit;
}

.form-control::-moz-placeholder,
::-moz-placeholder {  /* Firefox 19+ */
    opacity: 1;
    color: inherit;
}

.form-control:-ms-input-placeholder,
:-ms-input-placeholder {  
    opacity: 1;
    color: inherit;
}

button, input, select,
textarea, label {
    font-weight: 400;
}

.btn {
    transition: all 0.3s ease 0s;
}
.btn:hover,
.btn:focus,
.btn:active:focus {
    outline: 0 none;
}

.btn-primary {
	background-color: var(--primary-color);
	border: 0;
    font-family: var(--font-impact);
    font-weight: 700;
    height: 48px;
    line-height: 50px;
    padding: 0 42px;
    text-transform: uppercase;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
	background-color: darken(var(--primary-color), 8%);
}

.btn-border {
    border: 1px solid #d7d8db;
    display: inline-block;
    padding: 7px;
}

/*
 *  CSS Helper Class
 */
.clear::before,
.clear::after {
    content: " ";
    display: table;
}
.clear::after {
    clear: both;
}

.pt-table {
    display: table;
    width: 100%;
    height: calc(100vh - 4px);
}

.pt-tablecell {
    display: table-cell;
    vertical-align: middle;
}

/* .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
} */

.relative {
    position: relative;
}

.primary,
.link:hover {
    color: var(--primary-color);
}

.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
.no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.flex {
    display: flex;
}

.flex-middle {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.nicescroll-cursors {
    background: var(--primary-color) !important;
}
