
.page-title {
  /* width: 100%; */
  margin:auto;
}

.page-title img {
  margin-bottom: 20px;
}

.page-title h2 {
  font-size: 60px;
  margin-bottom: 25px;
  position: relative;
  z-index: 0;
  font-weight: 900;
  text-transform: uppercase;
}

.page-title p {
  font-size: 20px;
  /* font-weight: 600; */
  font-family: var(--font-impact); /* Assuming $open-sans is defined in variables.css */
  position: relative;
  color: rgba(var(--light-dark), 0.47); /* Using variable --light-dark */
}

.page-title .title-bg {
  color: rgba(var(--light-dark), 0.07); /* Using variable --light-dark */
  font-size: 84px;
  left: 0;
  letter-spacing: -4px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: -24%;
  z-index: -1;
  transform: translateY(-50%);
}

.overlay {
  padding: 15px 0;
}
.section-title {
  margin-bottom: 20px;
}

.section-title h3 {
  display: inline-block;
  position: relative;
}

/* .section-title h3::before,
.section-title h3::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 8px;
  left: calc(100% + 14px);
} */

.section-title h3::before {
  background-color: var(--light-dark);
  width: 96px;
  bottom: 14px;
}

.section-title h3::after {
  background-color: var(--primary-color);
  width: 73px;
}

.section-title.light h3 {
  color: var(--light);
}

.section-title.light h3::before {
  background-color: var(--light);
}
.section-title h3 {
  margin-top: 45px;
  font-family: var(--font-impact);
  font-size: 50px;
  color: var(--primary-color);
}

.container>.row {
  padding: 35px 0;
}

.content-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.content-flex .subtitle {
  margin-bottom: 20px;
}

.content-flex .subtitle h4 {
  font-size: 34px;
  font-weight: 800;
}

.content-flex .subcontent {
  font-size: 24px;
  text-align: left;
  padding-left: 90px;
}

.content-flex .button {
  margin-top: 20px;
}

.card {
  padding: 15px 10px;
}

.card .h5 {
  margin: 5px 0;
}

pre {
  font-size: 16px;
  overflow: auto;
  padding: 10px;
  /* background-color: #f8f8f8; */
  color: aliceblue;
  /* border: 1px solid #ddd; */
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  word-break: break-all;
  text-align:justify;
}

.piechart-card {
  background-color: inherit !important;
}

.highcharts-credits {
  display: none;
}

.highcharts-background {
  display: none;
}

.highcharts-title {
  display: none;
}